@layer global {
  /* archivo-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/archivo-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* archivo-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    src: url("Fonts/archivo-v25-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* candal-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Candal";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/candal-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Colors */
  :root {
    --c-dark-gray: hsl(0, 0%, 58%);
    --c-white: hsl(0, 0%, 100%);
    --c-black: hsl(0, 0%, 0%);
    --c-soft-gray: hsl(0, 0%, 85%);
    --c-lightest-gray: hsl(0, 0%, 89%);
    --c-lighter-gray: hsl(0, 0%, 83%);
    --c-light-gray: hsl(0, 0%, 82%);
    --c-green: hsl(102, 100%, 21%);
    --c-light-green: hsl(101, 42%, 38%);
    --c-grayish-white: hsl(0, 0%, 95%);
    --c-lime: hsl(102, 100%, 78%);
    --c-light-black: hsl(0, 0%, 16%);
    --c-darker-gray: hsl(0, 0%, 71%);
    --c-dark-gray: hsl(0, 0%, 88%);

    --color-navbar: var(--c-darker-gray);
    --color-bg: var(--c-lightest-gray);
    --color-button-primary: var(--c-green);
    --color-button-primary-text: var(--c-soft-gray);
    --color-button-secondary: var(--c-soft-gray);
    --color-button-secondary-text: var(--c-black);
    --color-system-overview-bg: var(--c-darker-gray);
    --color-system-overview-heading: var(--c-white);
    --color-system-overview-node-total: var(--c-white);
    --color-system-overview-node-active: var(--c-white);
    --color-system-overview-node: var(--c-dark-gray);
    --color-nodes-bg: var(--c-darker-gray);
    --color-nodes-heading: var(--c-white);
    --color-problem-heading: var(--c-light-green);
    --color-problem-card: var(--c-lighter-gray);
    --color-objective-heading: var(--c-light-green);
    --color-objective-card: var(--c-light-green);
    --color-objective-card-content: var(--c-soft-gray);
    --color-features-bg: var(--c-light-gray);
    --color-features-heading: var(--c-green);
    --color-features-content: var(--c-black);
    --color-features-card: var(--c-grayish-white);
    --color-features-card-heading: var(--c-green);
    --color-hiw-heading: var(--c-green);
    --color-hiw-card: var(--c-green);
    --color-hiw-card-heading: var(--c-lime);
    --color-hiw-card-content: var(--c-white);
    --color-footer-bg: var(--c-light-black);
    --color-footer-content: var(--c-white);
  }

  /* Fonts */
  :root {
    --fs-16: calc(16 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    --fs-40: calc(40 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);

    --font-size-topnav: var(--fs-28);
    --font-size-topnav: var(--fs-28);
    --font-size-hero: var(--fs-28);
    --font-size-system-overview-heading: var(--fs-48);
    --font-size-system-overview-node-description: var(--fs-16);
    --font-size-system-overview-node-value: var(--fs-40);
    --font-size-nodes-heading: var(--fs-48);
    --font-size-about-heading: var(--fs-48);
    --font-size-about-content: var(--fs-24);
    --font-size-problem-heading: var(--fs-48);
    --font-size-problem-content: var(--fs-24);
    --font-size-problem-content-card: var(--fs-24);
    --font-size-objective-heading: var(--fs-48);
    --font-size-objective-content: var(--fs-24);
    --font-size-objective-content-card: var(--fs-20);
    --font-size-features-heading: var(--fs-48);
    --font-size-features-content: var(--fs-24);
    --font-size-hiw-heading: var(--fs-48);
    --font-size-hiw-heading-card: var(--fs-36);
    --font-size-hiw-heading-card-content: var(--fs-24);
    --font-size-researcher-content: var(--fs-24);
    --font-size-footer-heading: var(--fs-36);
    --font-size-footer-content: var(--fs-24);
    --fonts-size-footer-copyright: var(--fs-16);
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.3;
    font-family: Archivo;
    background-color: var(--color-bg);
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  ul ul {
    list-style-type: disc;
  }
}

@layer component {
  .topnav {
    background-color: var(--color-navbar);
    font-size: var(--font-size-topnav);
    .topnav__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-inline: calc(65 / 16 * 1rem);
    }

    .topnav__links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: calc(12 / 16 * 1rem);
      list-style-type: none;
    }

    .primary .topnav__link {
      color: var(--color-button-primary-text);
    }

    .secondary .topnav__link {
      color: var(--color-button-secondary-text);
    }
    .topnav__homelink {
      padding-block: calc(8 / 16 * 1rem);
    }
  }

  #hero {
    .hero__container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-top: calc(12 / 16 * 1rem);
      margin-bottom: calc(70 / 16 * 1rem);
    }

    .hero__contents {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .hero__content1 {
      font-size: var(--font-size-about-content);
    }

    .hero__content2 {
      font-size: var(--font-size-about-content);
      font-weight: 400;
    }

    .hero__button {
      font-size: var(--font-size-hero);
      cursor: pointer;
    }

    .primary a {
      color: var(--color-button-primary-text);
    }
  }

  #system-overview {
    .system-overview__container {
      /* width: calc(84 / 16 * 1rem); */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--color-system-overview-bg);
      gap: calc(45 / 16 * 1rem);
      margin-inline: calc(43 / 16 * 1rem);
      border-radius: calc(20 / 16 * 1rem);
      padding-block: calc(40 / 16 * 1rem);
      margin-bottom: calc(6 / 16 * 1rem);
    }

    .system-overview__cards {
      display: flex;
      align-items: stretch;
      gap: calc(16 / 16 * 1rem);
      justify-content: center;
      flex-direction: row;
    }

    .system-overview__heading {
      font-family: Candal, sans-serif;
      font-size: var(--font-size-system-overview-heading);
      color: var(--color-system-overview-heading);
    }

    .system-overview__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(28 / 16 * 1rem);
      padding-top: calc(30 / 16 * 1rem);
      padding-bottom: calc(10 / 16 * 1rem);
      border-radius: calc(20 / 16 * 1rem);
      background-color: var(--color-system-overview-node);
      width: calc(182 / 16 * 1rem);
    }
    .system-overview__totalcard,
    .system-overview__activecard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(28 / 16 * 1rem);
      padding-top: calc(30 / 16 * 1rem);
      padding-bottom: calc(10 / 16 * 1rem);
      border-radius: calc(20 / 16 * 1rem);
      background-color: var(--color-system-overview-node-total);
      width: calc(182 / 16 * 1rem);
    }

    .system-overview__cardvalue {
      font-size: var(--font-size-system-overview-node-value);
    }

    .system-overview__cardtype {
      font-size: var(--font-size-system-overview-node-description);
    }
  }

  #nodes {
    .nodes__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(55 / 16 * 1rem);
      background-color: var(--color-nodes-bg);
      margin-inline: calc(43 / 16 * 1rem);
      border-radius: calc(20 / 16 * 1rem);
      margin-bottom: calc(20 / 16 * 1rem);
      padding-block: calc(42 / 16 * 1rem);
    }
    .nodes__heading {
      font-size: var(--font-size-nodes-heading);
      font-family: Candal, sans-serif;
      color: var(--color-nodes-heading);
    }
    .nodes__cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: calc(30 / 16 * 1rem);
      flex-direction: row;
    }
  }

  #about {
    position: relative;
    padding-block: calc(46 / 16 * 1rem);
    color: white;
    z-index: 1;
    /* The "real" solid background color */
    background-color: #45792e;
    /* Ensures any overflow from the pseudo-element is contained */
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      /* The image layer */
      background-image: url("./Images/bg.png");
      background-size: cover;
      background-position: center;

      /* Set the image to 20% opacity */
      opacity: 0.2;

      /* Place it behind the text but above the solid background */
      z-index: -1;
    }

    .about__wrapper {
      margin-inline: calc(101 / 16 * 1rem);
    }

    .about__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-block: calc(48 / 16 * 1rem);
      gap: calc(26 / 16 * 1rem);
    }

    .about__heading {
      font-family: Candal, sans-serif;
      font-size: var(--font-size-about-heading);
    }

    .about__content {
      font-size: var(--font-size-about-content);
      font-weight: 400;
      text-align: center;
    }
  }

  #problem-objectives {
    text-align: center;
    /* margin-left: calc(40.25 / 16 * 1rem); */
    margin-right: calc(28 / 16 * 1rem);
    margin-block: calc(55 / 16 * 1rem);

    .problem-objectives__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .problem-objectives__problem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(25 / 16 * 1rem);
      align-items: center;
    }

    .problem-objectives__objectives {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(20 / 16 * 1rem);
      align-items: center;
    }

    .problem-objectives__problemheading {
      font-family: Candal, sans-serif;
      font-size: var(--font-size-problem-heading);
      color: var(--color-problem-heading);
    }

    .problem-objectives__problemdescription {
      font-size: var(--font-size-problem-content);
      font-weight: 400;
      width: calc(559 / 16 * 1rem);
    }

    .problem-objectives__problemcards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      gap: calc(13 / 16 * 1rem);
    }

    .problem-objectives__problemcard {
      width: calc(330 / 16 * 1rem);

      border-radius: 20px;
      background-color: var(--color-problem-card);
      padding-inline: calc(45 / 16 * 1rem);
      padding-block: calc(42 / 16 * 1rem);
    }

    .problem-objectives__problemcontent {
      font-weight: 400;
      font-size: var(--font-size-problem-content-card);
    }

    .problem-objectives__objectiveheading {
      color: var(--color-objective-heading);
      font-family: Candal, sans-serif;
      font-size: var(--font-size-problem-heading);
    }

    .problem-objectives__objectivedescription {
      font-size: var(--font-size-objective-content);
      font-weight: 400;
    }

    .problem-objectives__objectivecards {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-wrap: wrap;
      gap: calc(5 / 16 * 1rem);
    }
    .problem-objectives__objectivecontent {
      font-weight: 400;
      font-size: var(--font-size-objective-content-card);
      color: var(--color-objective-card-content);
    }

    .problem-objectives__objectivecard {
      font-weight: 400;
      width: calc(678 / 16 * 1rem);
      background-color: var(--color-objective-card);
      padding-inline: calc(35 / 16 * 1rem);
      padding-block: calc(12 / 16 * 1rem);
      border-radius: calc(20 / 16 * 1rem);
      gap: calc(5 / 16 * 1rem);
      font-size: var(--font-size-objective-content-card);
    }
  }

  #features {
    background-color: var(--color-features-bg);

    padding-block: calc(49 / 16 * 1rem);

    .features__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(50 / 16 * 1rem);
      align-items: center;
    }

    .features__heading {
      color: var(--color-features-heading);
      font-size: var(--font-size-features-heading);
      font-family: Candal, sans-serif;
    }

    .features__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: calc(18 / 16 * 1rem);
    }

    .features__card {
      width: calc(670 / 16 * 1rem);
      font-size: var(--font-size-features-content);
      color: var(--color-features-content);
      border-radius: calc(30 / 16 * 1rem);
      background-color: var(--color-features-card);
      padding-inline: calc(25 / 16 * 1rem);
      padding-block: calc(42 / 16 * 1rem);
    }

    .features__cardheading {
      color: var(--color-features-card-heading);
    }
  }

  #how-it-works {
    margin-block: calc(65 / 16 * 1rem);
    .how-it-works__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .how-it-works__cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      gap: calc(2 / 16 * 1rem);
      margin-top: calc(65 / 16 * 1rem);
    }

    .how-it-works__card {
      width: calc(270 / 16 * 1rem);
      background-color: var(--color-hiw-card);
      color: var(--color-hiw-card-content);
      font-size: var(--font-size-hiw-heading-card-content);
      text-align: center;
      padding-block: calc(39 / 16 * 1rem);
      padding-inline: calc(10 / 16 * 1rem);
      border-radius: calc(30 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      gap: calc(20 / 16 * 1rem);
    }

    .how-it-works__cardheading {
      color: var(--color-hiw-card-heading);
      font-size: var(--font-size-hiw-heading-card);
    }

    .how-it-works__cardcontent {
      font-weight: 400;
    }

    .how-it-works__heading {
      color: var(--color-hiw-heading);
      font-family: Candal, sans-serif;
      font-size: var(--font-size-hiw-heading);
    }
  }

  #researcher {
    padding-top: calc(40 / 16 * 1rem);
    padding-bottom: calc(80 / 16 * 1rem);

    .researcher__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(40 / 16 * 1rem);
    }
    .researcher__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-researcher-content);
    }
  }

  #footer {
    .footer__container {
      padding-block: calc(48 / 16 * 1rem);
      background-color: var(--color-footer-bg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(40 / 16 * 1rem);
      color: var(--color-footer-content);
    }

    .footer__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: calc(20 / 16 * 1rem);
    }

    .footer__heading {
      font-size: var(--font-size-footer-heading);
    }

    .footer__content {
      font-size: var(--font-size-footer-content);
      font-weight: 300;
    }

    .footer__copyright {
      font-size: var(--fonts-size-footer-copyright);
      font-weight: 300;
    }
  }
}

@layer utility {
  .primary {
    background-color: var(--color-button-primary);
    padding-inline: calc(32 / 16 * 1rem);
    border-radius: calc(10 / 16 * 1rem);
    padding-block: calc(7 / 16 * 1rem);
    border: none;
  }

  .secondary {
    background-color: var(--color-button-secondary);
    padding-inline: calc(32 / 16 * 1rem);
    padding-block: calc(7 / 16 * 1rem);
    border-radius: calc(10 / 16 * 1rem);
  }
}
